<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <!-- 사이트의 헤더 영역 -->
    <header th:fragment="siteHeader">
        <div>
            <div>
                <!-- 로고 왼쪽 정렬 -->
                <img src="./assets/img/Dr.Plant_logo.png" alt="Dr.Plant 로고" 
                    style="width: 80px; height: 80px; float: left;">
                
                <!-- 사용자 ID 및 마이페이지 링크 오른쪽 정렬 -->
                <div style="float: right; padding-top:25px;">
                    <!-- 사용자 ID 표시 -->
                    <span th:text="${cusId + '님'}"></span>
                    
                    <!-- 마이페이지 링크 -->
                    <a th:href="@{/mypage(cusId=${cusId})}" 
                    style="text-decoration-line: none;">마이페이지</a>
                    
                    <!-- 사용자 ID 오류 메시지 출력 -->
                    <div>
                        <div th:if="${error_cusId}" th:text="${error_cusId}" class="error-message"></div>
                    </div>
                </div>
            </div>
         </div>
      	<!-- 내비게이션 메뉴 -->
		<div style="clear:both;">
   			<nav style="padding:5px; background-color: #19CE60;  color: #F5F5F5;">
	    		<div style="padding-left: 10px;">
	    		<a th:href="@{/extrmncmp(cusId=${cusId})}" 
	    		style="text-decoration-line: none; color:#F5F5F5;">방제업체</a> |
	    		<a th:href="@{/news(cusId=${cusId})}"
	        	style="text-decoration-line: none; color:#F5F5F5;">농업뉴스</a> |
	        	<a th:href="@{/pestguide(cusId=${cusId})}"
	        	style="text-decoration-line: none; color:#F5F5F5;">병해충도감</a>
	    		</div>
	 		</nav>
	   	</div>
        

    </header>
</body>
</html>
