
.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}
.green { background-color: green; }
.yellow { background-color: yellow; }
.orange { background-color: orange; }
.red { background-color: red; }
.gray { background-color: gray; }

h3 {
   	color: #19CE60;
}

a {
	text-decoration-line: none; 
	color:#000000;
}
main{
	display : table;
	margin-left : auto;
	margin-right : auto;
}



.page-button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.page-button.active {
    background-color: #007bff;
    color: #fff;
    border: none;
}    
#pagination {
	display: block; /* visibility 확인 */
}

table{
	border-color:#ddd;
	width: 500px;
	justify-content: center;
    border-collapse: collapse;
    border-top:2px solid #19CE60;
    table-layout: fixed;
    font-size: 14px;
}


.first_line{
	float:left;
	margin-right:25px;
}


.second_line{
	float:left;
}

.card table{
  border: 2px solid #ccc;
  padding: 15px;
  width: 200px;
  height: 150px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  float:left;
  margin-right:15px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.card3 table{
  border: 2px solid #ccc;
  padding: 15px;
  width: 200px;
  height: 150px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  float:left;
  clear:both;
  margin-right:15px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 5px;
}


.card3 table {
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px #333;
  border-style: hidden;    
}
.card3 td {
  padding: 5px
}

.card table {
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px #333;
  border-style: hidden;    
}
.card td {
  padding: 5px
}



.pests{
	width: 120px;
}
/*NCPMS 병해충 발생정보*/
.ncpmsoc th{
	width: 155px;
}


