
main{
	display : table;
	margin-left : auto;
	margin-right : auto;
	
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.toggle-switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(24px);
}

table{
	border-color:#ddd;
	width: 50%;
	table-layout: fixed;
	margin-left:400px;
    border-collapse: collapse;
    border-top:2px solid #19CE60;
    
}

.center_tb{
	text-align:center;
}


h3 {
	margin-left:450px;
}

a {
	text-decoration-line: none; 
	color:#000000;
}

.ts{
	width: 50px;
	font-weight : bold;
}

.delete_bt{
	width:50px;
	text-align: center;
}
.rg_bt{
	text-align:center;
}

td{
	font-size: 15px;
}

