<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/login.css"> <!-- 로그인 페이지 스타일링 파일 -->
</head>
<body>
    <div class="login-container">
	    <!-- 로고 영역 -->
	    <div class="logo">
	        <img src="./assets/img/Dr.Plant_logo.png" alt="Dr. Plant Logo">
	    </div>
	    
	    <!-- 로그인 폼 컨테이너 -->
	    
        <form action="/login" method="post"> <!-- 로그인 폼: POST 방식으로 전송 -->
            <div style="text-align:left; font-size:15px;">아이디</div>
            <input type="text" id="cusId" name="cusId" placeholder="아이디를 입력해주세요" required> <!-- 아이디 입력 필드 -->
            <br><br>
            <div style="text-align:left; font-size:15px;">비밀번호</div>
            <input type="password" id="cusPw" name="cusPw" placeholder="비밀번호를 입력해주세요" required> <!-- 비밀번호 입력 필드 -->
            <br><br>
            
            <!-- 관리자 로그인 체크박스 -->
            <div class="admin-checkbox">
                <input type="checkbox" id="adminLogin" name="adminLogin">
                <label for="adminLogin" style="margin-left: 5px;">관리자 로그인</label>
            </div>
            
            <!-- 로그인 버튼 -->
            <button type="submit" class="login-button">로그인</button>
        </form>
        
        <!-- 오류 메시지 표시 -->
        <p class="error-message" th:if="${error}" th:text="${error}"></p>
        
        <!-- 추가 링크 및 버튼 -->
        <div class="links">
            <p th:if="${error}" th:text="${error}"></p>
            <hr> <!-- 구분선 -->
            <button type="button" onclick="location.href='/login/signup'">회원가입</button> <!-- 회원가입 버튼 -->
            <button type="button" onclick="location.href='/login/findid'">아이디찾기</button> <!-- 아이디 찾기 버튼 -->
            <button type="button" onclick="location.href='/login/newpw'">새 비밀번호 설정</button> <!-- 새 비밀번호 설정 버튼 -->
        </div>
        
        <!-- 소셜 로그인 버튼 영역 -->
        <div class="social-Loginbox">
            <div class="social-logintext">소셜 계정으로 로그인</div> <!-- 소셜 로그인 안내 텍스트 -->
            <div class="social-login">
                <!-- 각 소셜 로그인 버튼 이미지 -->
                <img src="./assets/img/login_google.png" alt="Google">
                <img src="./assets/img/login_kakao.png" alt="Kakao">
                <img src="./assets/img/login_naver.png" alt="naver">
                <img src="./assets/img/login_apple.png" alt="Apple">
            </div>  
        </div>
    </div>
</body>
</html>

