<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>카카오톡 메시지 나에게 보내기</title>
		<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.2/kakao.min.js" integrity="sha384-TiCUE00h649CAMonG018J2ujOgDKW/kVWlChEuu4jK2vxfAAD0eZxzCKakxg55G4" crossorigin="anonymous"></script>
		<script>Kakao.init('9ccbc0ffcb02d0558ee7d328ad207c4c'); // 사용하려는 앱의 JavaScript 키 입력 </script>
	</head>
	<body>
		<a id="kakao-login-btn" href="javascript:loginWithKakao()">
			<img src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" width="222" alt="카카오 로그인 버튼" />
		</a>
		<p id="token-result"></p>
		<button class="api-btn" onclick="sendToMe()" style="visibility: hidden">나에게 메시지 보내기</button>
		<button class="api-btn2" onclick="requestUserInfo()" style="visibility: hidden">사용자 정보 가져오기</button>
	
		<script>
			function loginWithKakao() {
				Kakao.Auth.authorize({
					redirectUri: 'https://123.100.174.98:8184/kakao/login',
					state: 'sendme_feed',
					scope: 'talk_message', // 앱 동의 항목 설정 및 사용자 동의 필요
				});
			}
		
			function sendToMe() {
				Kakao.API.request({
					url: '/v2/api/talk/memo/default/send',
					data: {
						template_object: {
							object_type: 'feed',
							content: {
								title: '딸기 치즈 케익',
								description: '#케익 #딸기 #삼평동 #카페 #분위기 #소개팅',
								image_url:
									'http://k.kakaocdn.net/dn/Q2iNx/btqgeRgV54P/VLdBs9cvyn8BJXB3o7N8UK/kakaolink40_original.png',
								link: {
									// [내 애플리케이션] > [플랫폼] 에서 등록한 사이트 도메인과 일치해야 함
									mobile_web_url: 'https://developers.kakao.com',
									web_url: 'https://developers.kakao.com',
								},
							},
							social: {
								like_count: 286,
								comment_count: 45,
								shared_count: 845,
							},
							buttons: [
								{
									title: '웹으로 보기',
									link: {
										mobile_web_url: 'https://developers.kakao.com',
										web_url: 'https://developers.kakao.com',
									},
								},
								{
									title: '앱으로 보기',
									link: {
										mobile_web_url: 'https://developers.kakao.com',
										web_url: 'https://developers.kakao.com',
									},
								},
							],
						},
					},
				})
				.then(function(res) {
					alert('success: ' + JSON.stringify(res));
				})
				.catch(function(err) {
					alert('error: ' + JSON.stringify(err));
				});
			}
		
			function requestUserInfo() {
				Kakao.API.request({
					url: '/v2/user/me',
				})
				.then(function(res) {
					alert(JSON.stringify(res));
				})
				.catch(function(err) {
					alert('failed to request user information: ' + JSON.stringify(err));
				});
			}
	
			displayToken()
			function displayToken() {
				var token = getCookie('kakao-token');
				if(token) {
					Kakao.Auth.setAccessToken(token);
					Kakao.Auth.getStatusInfo()
					.then(function(res) {
						console.log("success",res);
						if (res.status === 'connected') {
							document.getElementById('token-result').innerText = 'login success, token: ' + Kakao.Auth.getAccessToken();
						}
					})
					.catch(function(err) {
						console.error("error",err);
						Kakao.Auth.setAccessToken(null);
					});
// 					document.querySelector('#token-result').innerText = 'login success, ready to send a message';
// 					document.querySelector('button.api-btn').style.visibility = 'visible';
// 					document.querySelector('button.api-btn2').style.visibility = 'visible';
				}
			}
		
			function getCookie(name) {
				var parts = document.cookie.split(name + '=');
				if (parts.length === 2) { return parts[1].split(';')[0]; }
			}
		</script>
	</body>
</html>
